html{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  /* height: 90%; */
  /* background-color: lightgreen; */
}

body{
  /* height: 100%; */
  /* background-color: lightpink; */
}

img{
  max-height: 100%;
  max-width: 100%;
}

button{
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input{
  border: 0;
  width: 75%;
  border-bottom: 2px solid gray;
  outline: 0;
  padding: 7px 0;
  margin: 10px;
}

